<footer class="footer">
  <div class="container">
    <div class="footer__logo-info">
      <a class="footer__logo-img" href="/layout-lalasia-furniture/index.html">
        <svg>
          <use xlink:href="/img/sprites.svg#logo-with-text"></use>
        </svg>
      </a>
      <p class="footer__logo-text">Lalasia is digital agency that help you make better experience iaculis cras in.</p>
    </div>
    <nav class="footer__nav">
      <ul class="footer__list">
        <h3 class="footer__list-title">Product</h3>
        <li><a href="##" class="footer__list-link">New Arrivals</a></li>
        <li><a href="##" class="footer__list-link">Best Selling</a></li>
        <li><a href="##" class="footer__list-link">Home Decor</a></li>
        <li><a href="##" class="footer__list-link">Kitchen Set</a></li>
      </ul>
      <ul class="footer__list">
        <h3 class="footer__list-title">Services</h3>
        <li><a href="##" class="footer__list-link">Catalog</a></li>
        <li><a href="##" class="footer__list-link">Blog</a></li>
        <li><a href="##" class="footer__list-link">FaQ</a></li>
        <li><a href="##" class="footer__list-link">Pricing</a></li>
      </ul>
      <ul class="footer__list">
        <h3 class="footer__list-title">Follow Us</h3>
        <li><a href="##" class="footer__list-link">Facebook</a></li>
        <li><a href="##" class="footer__list-link">Instagram</a></li>
        <li><a href="##" class="footer__list-link">Twitter</a></li>
      </ul>
    </nav>
  </div>
</footer>
