<header class="header" data-active-page="{=$active-page}">
  <div class="container">
    <div class="header__logo">
      <a href="/layout-lalasia-furniture/index.html">
        <svg>
          <use xlink:href="/img/sprites.svg#logo-with-text"></use>
        </svg>
      </a>
    </div>
    <button class="burger__btn">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </button>
    <div class="burger">
      <div class="burger__content">
        <nav class="header__nav">
          <ul class="header__list">
            <li><a href="/layout-lalasia-furniture/src/pages/product/index.html" class="header__link">Product</a></li>
            <li><a href="##" class="header__link">Services</a></li>
            <li><a href="##" class="header__link">Article</a></li>
            <li><a href="##" class="header__link">About Us</a></li>
          </ul>
        </nav>
        <div class="header__icons">
          <button class="header__icon header__cart">
            <svg>
              <use xlink:href="/img/sprites.svg#cart"></use>
            </svg>
          </button>
          <button class="header__icon header__profile">
            <svg>
              <use xlink:href="/img/sprites.svg#profile"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
